.container {
	padding-left: 25rem;
}

.lastName {
	color: var(--color-primary-dark);
	font-weight: 700;
}

.subHeading {
	font-family: 'Bitter';
	font-size: 2rem;
	margin-bottom: 5rem;
}

.section {
	border-bottom: 1px solid var(--color-primary-dark);
	padding: 10rem 15rem 10rem 7rem;
}

.paragraphText {
	margin: 1.2rem 0;
	line-height: 1.6;
}

.experience {
	margin-bottom: 3rem;
}

.certs {
	display: flex;
}

.certs img {
	max-width: 150px;
}
